/*margin and padding on body element
  can introduce errors in determining
  element position and are not recommended;
  we turn them off as a foundation for YUI
  CSS treatments. */
body {
	margin:0;
	padding:0;
}
    #applicationTabs ul.yui-nav li span.close {
        background-image: url(http://us.i1.yimg.com/us.yimg.com/i/nt/ic/ut/alt3/close12_1.gif);
        text-indent: 500px;
        display: block;
        overflow: hidden;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 2px;
        right: 2px;
    }
